[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.15"
django-colaborativa = {path = "./..", editable = true}
black = "==19.10b0"
django-localflavor = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.8"
